/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.BottomBox{
	border-color:#BBBBBB;
	border-style:solid;
	border-thickness-bottom:0;
	border-thickness-left:0;
	border-thickness-right:0;
	background-color:#C0CCF0;
	horizontal-align:right;
	vertical-align:middle;
	horizontal-gap:1;
	font-family:"宋体";
	font-size:12;
	font-weight:normal;
	padding-top:3;
	padding-bottom:3;
}
mx|LinkButton{
	roll-over-color:#FFFFFF;
	selection-color:#FFFFFF;
	font-family:"宋体";
	font-size:12;
	font-weight:normal;
}