/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application{
	background-color:#D0DDF0;
}
/*******  登陆框的样式  ********/
.LoginContainerStyle{
	border-alpha:0.2;
	border-style:solid;
	border-weight:6;

	
}
.FontLogin{
	font-family:"宋体";
	font-size:48;
	font-weight:bold;
	color:#6080F0;
}
global
{
	roll-over-color: #A0DDFF;
	focus-color: #D0DDF0;
	selection-color: #D0DDF0;
	font-family:"宋体";
	font-size:12; 
	font-style:"normal"; 
	font-weight:"normal"; 
}
.errorTip
{
	font-size: 12;
}
.testTip
{
	font-size: 12;
	border-color: #ffffdd;
	color: #ff0000;
	font-weight: bold;
}