<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:flex="http://www.springframework.org/schema/flex"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/flex
       http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 注入配置 -->
	<bean id="systemDAO" class="system.daoImpl.SystemDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="menuDAO" class="system.daoImpl.MenuDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="moduleDAO" class="system.daoImpl.ModuleDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="operationDAO" class="system.daoImpl.OperationDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="dataAccessModeDAO" class="system.daoImpl.DataAccessModeDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="departmentDAO" class="system.daoImpl.DepartmentDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="roleDAO" class="system.daoImpl.RoleDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="userDAO" class="system.daoImpl.UserDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="messageDAO" class="system.daoImpl.MessageDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="drDAO" class="system.daoImpl.DRDAOImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>
	<bean id="systemServiceDest" class="system.serviceImpl.SystemServiceImpl">
		<flex:remoting-destination />
		<property name="drDAO" ref="drDAO" />
		<property name="systemDAO" ref="systemDAO" />
		<property name="menuDAO" ref="menuDAO" />
		<property name="moduleDAO" ref="moduleDAO" />
		<property name="operationDAO" ref="operationDAO" />
		<property name="dataAccessModeDAO" ref="dataAccessModeDAO" />
		<property name="departmentDAO" ref="departmentDAO" />
		<property name="roleDAO" ref="roleDAO" />
		<property name="userDAO" ref="userDAO" />
		<property name="messageDAO" ref="messageDAO" />
	</bean>
	
</beans>