/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace mx "http://www.adobe.com/2006/mxml";
@namespace supertabs "flexlib.controls.tabBarClasses.*"; 

/*  色彩说明

1. EEF0FF	TabNavigator中的背景色
2. D0DDF0	整个页面背景色
3. A0DDFF	鼠标滑过高亮色
4. D0DDF0	项目选中颜色
5. 6080E0	边框默认统一色

*/


global
{
	content-background-alpha: 1.0;
	chrome-color: #D0DDF0;
	focus-color: #D0DDF0;
	selection-color: #D0DDF0;
	roll-over-color: #A0DDFF;
	tabCloseButtonStyleName: "closeButton";
	color: #000000; 
	font-family:"宋体";
	font-size:12; 
	font-style:"normal"; 
	font-weight:"normal"; 

}


.closeButton 
{ 
	defaultSkin:Embed(source="../WebContent/resources/common/ui/tabClose.swf", symbol="firefox_close_up"); 
	upSkin:Embed(source="../WebContent/resources/common/ui/tabClose.swf", symbol="firefox_close_up"); 
	downSkin:Embed(source="../WebContent/resources/common/ui/tabClose.swf", symbol="firefox_close_down"); 
	overSkin:Embed(source="../WebContent/resources/common/ui/tabClose.swf", symbol="firefox_close_over"); 
}

/************** 顶栏 head ****************/
#HeadIconContainer{
	border-style:solid;
	background-alpha:0.5;
	background-color:#A0C0F0;
	skinClass:ClassReference("system.skins.WlzxBorderContainerSkin");
}
/************** 左侧菜单栏 ****************/
mx|Accordion{
	open-duration:500;
	border-style:solid;
	border-color:#8090E0;
}
.customAccordionHeadStyles{
	skin:ClassReference("system.skins.WlzxAccordionHeaderSkin");
	font-family:"宋体";
	font-size:12;
	font-weight:bold;
	
}

/************** 一般的容器 ****************/
s|BorderContainer{
	background-color:#D0DDF0;
}
/************** TabNavigator ****************/
.customTabStyles {
	skin: ClassReference("system.skins.WlzxTabSkin");
	border:1px;
	border-style:solid;
	border-visible:true;
	border-alpha:1;
}
.customSubTabStyles {
	skin: ClassReference("system.skins.WlzxSubTabSkin");
	border:1px;
	border-style:solid;
	border-visible:true;
	border-alpha:1;
}
.customTabNavStyle{
 tab-height:25;
 tab-width:120;
}

/***********   Button **************/
.customButton {
	upSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	overSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	downSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	disabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	selectedUpSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	selectedOverSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	selectedDownSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	selectedDisabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
	corner-Radii: 2, 2,2, 2;
	border-Colors: #B2DC32, #4b5f0c;
	over-Border-Colors:#B2DC32, #4b5f0c;
	selected-Border-Colors: #B2DC32, #4b5f0c;
	border-Thickness: 1;
	border-Alpha: 1;
	fill-Colors: #B2DC32, #4b5f0c;
	fill-Color-Ratios: 0, 255;
	over-Fill-Colors: #B2DC32, #4b5f0c;
	over-Fill-ColorRatios: 255, 0;
	selected-Fill-Colors: #B2DC32, #4b5f0c;
	selected-Fill-Color-Ratios: 0, 255;
	color: black;
	text-Roll-Over-Color: #4b5f0c;
}
.customButtonBar {
	skin: ClassReference("system.skins.WlzxButtonBarSkin");
}
.customPanel {
	skin: ClassReference("system.skins.WlzxPanelSkin");
}

/************   带边框的VBox (用于容纳Form ) ***************/
.CustomBorderVBoxStyle{
	border-skin:ClassReference("system.skins.WlzxBorderVBoxSkin");
	
}
.CustomTextAreaStyle{
	/*	skin-class:ClassReference("skin.CustomTextAreaSkin");*/
	/*	skin-class:ClassReference("skin.CustomTextAreaSkin");*/
	/*	skin:ClassReference("skin.NewSkin");*/
	font-family:"宋体";
	font-size:14;
	font-weight:bold;
	color:#000000;
	border-thickness:0;
	content-background-color:#EEF0FF;
	border-visible:false;
	border-alpha:0;
	text-align:center;
	shadow-color:#EEF0FF;
	show-track-highlight:false;
	stroke-width:0;
		
}