/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application{
	background-color:#D0DDF0;
}
global
{
	roll-over-color: #A0DDFF;
	focus-color: #D0DDF0;
	selection-color: #D0DDF0;
	font-family:"宋体";
	font-size:12; 
	font-style:"normal"; 
	font-weight:"normal"; 
}
.errorTip
{
	font-size: 12;
}
.testTip
{
	font-size: 12;
	border-color: #ffffdd;
	color: #ff0000;
	font-weight: bold;
}