/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	roll-over-color: #E2FBB8;
	focus-color: #C7E399;
	selection-color: #C7E399;
	font-size: 13;
}
.errorTip
{
	font-size: 12;
}
.testTip
{
	font-size: 12;
	border-color: #ffffdd;
	color: #ff0000;
	font-weight: bold;
}