<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>  
           wlzx.root  
		</param-value>
	</context-param>
	<!-- log4j context configuration -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:config/log4j.properties</param-value>
	</context-param>
	<!-- spring context configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			 /WEB-INF/spring-system.xml,
			classpath:spring/system/*.xml,
			 /WEB-INF/spring-system-basic.xml,
			classpath:spring/system/wlims/basic/*.xml,
			 /WEB-INF/spring-system-oa.xml,
			classpath:spring/system/wlims/oa/*.xml,
            /WEB-INF/spring-security.xml     
        </param-value>
	</context-param>
	
	<!-- log4j context listener -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- spring context listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!--通过HttpFlexSession.getFlexSession(req)方法获得HttpFlexSession ，他继承于HttpSession类,用于设置和保存flex客户端请求的会话信息  -->
	<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
	</listener>
	
	<!-- 配置Spring的过滤器，解决乱码问题 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>LoginRusultDealServlet</servlet-name>
		<servlet-class>system.servlet.LoginRusultDealServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginRusultDealServlet</servlet-name>
		<url-pattern>/loginRusultDealServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginFailServlet</servlet-name>
		<servlet-class>system.servlet.LoginFailServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginFailServlet</servlet-name>
		<url-pattern>/LoginFailServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReloadSpringSecurityAuthServlet</servlet-name>
		<servlet-class>system.servlet.ReloadSpringSecurityAuthServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReloadSpringSecurityAuthServlet</servlet-name>
		<url-pattern>/reloadSpringSecurityAuthServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>General Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/general/*.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>General Servlet</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Upload Image Servlet</servlet-name>
		<servlet-class>system.wlims.basic.action.UploadHandler</servlet-class>
		<init-param>
			<param-name>UploadDirectory</param-name>
			<param-value>uploads/basic/teacherProfile/</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Upload Image Servlet</servlet-name>
		<url-pattern>/basic/staff/teacherImgaeUploadServlet</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>
	<error-page> 
		<error-code>404</error-code> 
		<location>/home.html</location> 
	</error-page>
	<error-page> 
		<error-code>500</error-code> 
		<location>/home.html</location> 
	</error-page>
</web-app>
