<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 	<debug /> 
  	<global-method-security pre-post-annotations="enabled" /> 
   <http pattern="/login.html" security="none" /> 
   <http pattern="/*.swf" security="none" /> 
   <http pattern="/*.js" security="none" /> 
   <http pattern="/*.css" security="none" /> 
   <http auto-config="true" access-denied-page="/login.html" access-decision-manager-ref="accessDecisionManager">
		<intercept-url pattern="/home.html" access="IS_AUTHENTICATED_FULLY"/>
		<intercept-url pattern="/home.swf" access="IS_AUTHENTICATED_FULLY"/>		
		<intercept-url pattern="/**/*.swf" access="IS_AUTHENTICATED_FULLY"/>	
		<!-- 指定登陆页面、成功页面、失败页面-->
		<form-login login-page="/login.html" default-target-url="/home.html"  always-use-default-target="true" login-processing-url="/j_spring_security_check" authentication-failure-url="/login.html" />
		<!-- 尝试访问没有权限的页面时跳转的页面<access-denied-handler error-page="/home.html" /> -->
		<!--使用记住用户名、密码功能，指定数据源和加密的key<remember-me data-source-ref="dataSource"/>-->
		<remember-me  user-service-ref="securityManager"/>
		<!-- logout页面，logout后清除session -->
		<logout invalidate-session="true" logout-success-url="/login.html" />
		 <!-- session-management是针对session的管理 
		 	 nvalid-session-url=""配置session 失效后跳转的页面
         	 max-sessions="1"同一账号最大登陆次数error-if-maximum-exceeded="true" 禁止同一账户2次登陆; false允许2次登陆并后登陆的账号会挤掉第一次登陆的账号  
             session-fixation-protection="none" 防止伪造sessionid攻击. 
          -->  
         <session-management session-fixation-protection="none" invalid-session-url="/login.html">  
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="false"/>
         </session-management>  	
	</http>
    <authentication-manager>
       	<authentication-provider user-service-ref="securityManager">
			<password-encoder hash="md5"/>
		</authentication-provider>
    </authentication-manager>
    
    <beans:bean id="securityManager" class="system.components.support.SecurityManagerSupport">
		<beans:property name="systemService" ref="systemServiceDest"/>
	</beans:bean>
	<beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:property name="allowIfAllAbstainDecisions" value="false"/>
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:bean class="org.springframework.security.access.vote.RoleVoter"/>
				<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
			</beans:list>
		</beans:property>
	</beans:bean>
</beans:beans>
